.topBar{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5rem 0 5rem;
    height: 50px;
}

.topBar__items{
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0;
    font-size: 0.8rem;
}

.topBar > p:hover{
    text-decoration: underline;
}

.topBar__seperator{
    color: grey;
}

@media (max-width: 600px){
    .topBar{
        padding: 0 2rem 0 2rem;
    }
}

@media (max-width: 330px){
    .topBar > .disable{
        display: none;
    }
}

